<div class="login-page">
  <h1 class="welcome-header">Welcome Back</h1>
  <%= form_with url: sign_in_path do |f| %>
    <div class="form-line">
      <%= f.label 'character:'%> <%= f.text_field :character, id: 'character' %>
    </div>
    <div class="form-line">
      <%= f.label 'password:'%> <%= f.password_field :password, id: 'password' %>
    </div>
    <div class="centered">
      <%= f.submit 'Log In', class: "submit-button" %>
    </div>
    <div class="centered">
      <%= link_to 'Forgot your password?', password_reset_path %>
    </div>
    <br>
  <% end %>
  <p>
    <a href="/">Back</a>
  </p>
</div>