
<div class="login-page">
    <h1 class="welcome-heading">Welcome Rune Scribe</h1>
    <% if Current.user %>
        Logged in as: <%= Current.user.email %><br>
        <%= link_to 'Change Password', edit_password_path %>
        <%= button_to 'Logout', logout_path, method: :delete %>
    <% else %>
        <div class="welcome-options">
            <h2><%= link_to 'Login', sign_in_path %></h2>
            or
            <h2><%= link_to 'Sign Up', sign_up_path %></h2>
        </div>
        <h4><%= link_to 'View a Demo', demo_path %></h4>
    <% end %>
</div>