<%= javascript_pack_tag 'admin_base' %>

<div id='admin'>
    <h1 style='text-align: center'>Rune Scribe Familiar Admin</h1>
    <div class='menubar'>
    <%= image_tag('admin/level_up', size: "100x100", :class => 'menu-links', title: 'Party Level Up', id: 'party_level')  %>
    <%= link_to image_tag('admin/structures', size: "100x100", :class => 'menu-links', title: 'Rune Structures'), admin_path(:page => 'structures') %>
    <%= link_to image_tag('admin/players', size: "100x100", :class => 'menu-links', title: 'Players'), admin_path(:page => 'players') %>
    </div>
    
    <div class='admin-page'>
        <% if @page %>
            <%= render @page %>
        <% else %>
            <%= render 'players' %>
        <% end %>

    </div>


</div>